{% extends "base.html" %} {% load static %} {% block content %}
<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header bg-primary text-white">Field Map - {{ field.name }}</div>
      <div class="card-body p-0">
        <div id="map" style="height: 500px"></div>
      </div>
    </div>
  </div>
  <div class="col-md-4">{% include "advisory.html" %}</div>

  <div id="field-id" data-field-id="{{ field.id|default:1 }}" style="display: none"></div>
  <div id="field-lat" data-field-lat="{{ field.latitude|default:0 }}" style="display: none"></div>
</div>
{% endblock %} {% block scripts %}
<!-- Leaflet JS -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<!-- Custom Map JS -->
<script src="{% static 'js/map.js' %}"></script>
<!-- Advisory JS -->
<script src="{% static 'js/advisory.js' %}"></script>
{% endblock %}
