Django==4.2
django-debug-toolbar==3.7.0
django-extensions==3.2.1
psycopg2==2.9.9
psycopg2-binary==2.9.9
pillow==10.0.1
django-widget-tweaks==1.5.0
django-crispy-forms==2.2
crispy-bootstrap4==2024.1
djangorestframework==3.15.0
pydotplus==2.0.2
django-environ==0.11.2
gunicorn==23.0.0
whitenoise==6.7.0
django-cors-headers==4.4.0
dj-database-url==2.2.0
djangorestframework-simplejwt==5.3.1
tqdm==4.67.1
django-leaflet==0.28
earthengine-api
geemap==0.28

